<div class="bg-black">
    <marquee behavior="" scrollamount="12" direction="right"><h1 class="text-3xl font-bold text-red-600 center animate-pulse">SUV Cars</h1></marquee>
<div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-5 gap-3 p-3">
    <app-card url="https://static3.toyotabharat.com/images/showroom/lc300/banner-img-1920x916.webp" title="Toyota Land Cruiser" cost="2000000"></app-card>
    <app-card url="https://imgd.aeplcdn.com/664x374/n/cw/ec/37640/endeavour-exterior-right-front-three-quarter-149473.jpeg" title="Ford Endevour" cost="280000"></app-card>
    <app-card url="https://imgd.aeplcdn.com/664x374/n/cw/ec/137767/fortuner-legender-exterior-right-front-three-quarter-3.png" title="Toyota Endevour" cost="40000"></app-card>
    <app-card url="https://th.bing.com/th/id/OIP.La7CMx60D8JlK5M7mMpNBgHaDy?cb=iwp2&w=1270&h=650&rs=1&pid=ImgDetMain" title="Lamborghini Urus" cost="3000000"></app-card>
    <app-card url="https://www.motortrend.com/uploads/sites/5/2020/06/2020-Volvo-XC90-T8-E-AWD-Inscription-10.jpg" title="Volvo xc90" cost="32000"></app-card>
</div>
<div class="p-4">
  <hr class="border-t-2 border-gray-500 my-4" />
</div>
  <marquee behavior="" scrollamount="12"direction="right"> <h1 class="text-3xl font-bold text-red-600 center animate-pulse">Sedan Cars</h1></marquee>
<div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-3 p-3">
    <app-card url="https://www.civic11forum.com/attachments/civic-type-r-championship-white-png.10107/" title="Honda Civic R-type" cost="3500000"></app-card>
    <app-card url="https://th.bing.com/th/id/OIP.0VXFeG37HgmRRnO189iVcwHaE8?cb=iwp2&rs=1&pid=ImgDetMain" title="Skoda Suberb" cost="28300"></app-card>
    <app-card url="https://th.bing.com/th/id/OIP.zE1D1xSiRa4y4MCrAvJb3QHaE8?cb=iwp2&rs=1&pid=ImgDetMain" title="Audi A8" cost="303003"></app-card>
    <app-card url="https://th.bing.com/th/id/OIP.gWpXF6j_VdHcUTR4ZMGMNQHaEh?cb=iwp2&rs=1&pid=ImgDetMain" title="Lexus ES 300h" cost="3000000"></app-card>
    <app-card url="https://www.hondacarindia.com/_next/image?url=https%3A%2F%2Fwww.hondacarindia.com%2Fweb-data%2Fmodels%2F2023%2Fcity5thGen%2FExperience%2FColors%2B%2FColors%2FDesktop%2FAr_Vk_Honda-City_3TX_Front-3-4th-Studio-Shot_Lunar-Silver-Metallic_V2.png&w=1920&q=75" title="Honda City" cost="34000"></app-card>
</div>
<div class="p-4">
  <hr class="border-t-2 border-gray-500 my-4" />
</div>

 <marquee behavior="" scrollamount="12" direction="right">  <h1 class="text-3xl font-bold text-red-600 center animate-pulse">Off-Roading</h1></marquee>
<div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-3 p-3">
    <app-card url="https://stimg.cardekho.com/images/carexteriorimages/930x620/Mahindra/Thar-ROXX/8438/1723692413550/front-left-side-47.jpg" title="Mahindra Thar Roxx" cost="2100000"></app-card>
    <app-card url="https://www.mercedes-benz.co.in/content/dam/india/passengercars/models/g-class/cavansite_blue_metallic.jpg/1740065151695.jpg" title="Mercedes G-Wagon" cost="280300"></app-card>
    <app-card url="https://www.jeep-india.com/content/dam/cross-regional/apac/jeep/en_in/wrangler-price-reveal/1000X416-Willy's-Ed-Red.png.img.1440.png" title="Jeep Wranglar Rubicon" cost="40000"></app-card>
    <app-card url="https://assets.config.landrover.com/lr/l663/k25/model/model_l663_k25_a-xdyn-hse_a-110_gl.jpg?v=4c4qj" title="Range Rover Defender" cost="3030000"></app-card>
    <app-card url="https://forcegurkha.co.in/wp-content/themes/force-motors/assets/images/Gurkha-2.png" title="Force Gurka" cost="32000"></app-card>
</div>

<div class="p-4">
  <hr class="border-t-2 border-gray-500 my-4" />
</div>
<marquee behavior="" scrollamount="12" direction="right">  <h1 class="text-3xl font-bold text-red-600 center animate-pulse">Luxury Cars</h1></marquee>
<div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-3 p-3">
    <app-card url="https://th.bing.com/th/id/OIP.F9jvfFhYg12QPrkWn6SZhQHaEK?cb=iwp2&rs=1&pid=ImgDetMain" title="Bentley" cost="20009000"></app-card>
    <app-card url="https://th.bing.com/th/id/OIP.NnzGVeoI7n2_BnbROV0u5AAAAA?cb=iwp2&rs=1&pid=ImgDetMain" title="Rolls Royce Phantom" cost="680000"></app-card>
    <app-card url="https://www.motortrend.com/files/662a7f23b9b4860008e14a0b/001-2024-mercedes-maybach-s680.jpg" title="Toyota Endevour" cost="40000"></app-card>
    <app-card url="https://th.bing.com/th/id/OIP.La7CMx60D8JlK5M7mMpNBgHaDy?cb=iwp2&w=1270&h=650&rs=1&pid=ImgDetMain" title="Mercedes-maybach-s680" cost="3000000"></app-card>
    <app-card url="https://th.bing.com/th/id/OIP.3F6iGQ7ehQF6KTreQkg4OQHaEo?cb=iwp2&rs=1&pid=ImgDetMain" title="Bmw x7" cost="532000"></app-card>
</div>
<div class="p-4">
  <hr class="border-t-2 border-gray-500 my-4" />
</div>

<marquee behavior="" scrollamount="12" direction="right">  <h1 class="text-3xl font-bold text-red-600 center animate-pulse">Sports car</h1></marquee>
<div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-3 p-3">
    <app-card url="https://upload.wikimedia.org/wikipedia/commons/b/bb/2023_Lamborghini_Aventador_Ultimae.jpg" title="Lamborghini Aventador Ultimae" cost="2000000"></app-card>
    <app-card url="https://www.astonmartin.com/-/media/models---valhalla-2024-relaunch/hero-banner/valhalla-oct-hero-desktop.jpg?mw=1920&rev=1459b56a04d64acd9b72b7effce45be7&extension=webp&hash=9CA0CD3A7D639B10C7F5AE969DDDD4CB" title="Austin Martin valhalla" cost="380000"></app-card>
    <app-card url="https://www.tomhartleyjnr.com/wp-content/uploads/2019/05/8BUG-000_1024x768.jpg" title="Bugati Veyron" cost="500000"></app-card>
    <app-card url="https://th.bing.com/th/id/OIP.682THEpheKRu74atngM1nAHaE1?cb=iwp2&rs=1&pid=ImgDetMain" title="Ford Mustang" cost="3000000"></app-card>
    <app-card url="https://cdn.ferrari.com/cms/network/media/img/resize/5d3711781fa28c0ad2ec17b0-ferrari_488pista_2018_speciale_d?width=1920&height=1080" title="Ferrari 488" cost="700000"></app-card>
</div>
</div>